$mobile = 320px
$tablet = 760px
$desktop = 1000px
$desktop-m = 1200px
$desktop-l = 1400px
$desktop-hd = 1600px

$screens = {
    desktop-hd: $desktop-hd,
    desktop-l: $desktop-l,
    desktop-m: $desktop-m,
    desktop: $desktop,
    tablet: $tablet,
    mobile: $mobile
}
